html, body {
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-image: url("/Users/simaboreiri/Self_practice/practice.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    

    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:0;
}
#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 4em;
    list-style-type: none;
}

a {
    color: #001111
}
header {
    padding-top:1em;
    text-align: center;
    font-size: 36px;
    font-family: Bradley Hand, cursive;
    color: #003333

}
footer {

}