html, body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("/Users/simaboreiri/Self_practice/practice.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    

    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:0;
}
#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em auto;
    margin-right: 0;
    margin-left: 0;
    padding: 1em;
    list-style-type: none;
    background-color: #ffcccc
}

a {
    color: #001111
}
header {
    padding-top: 1em;
    text-align: center;
    font-size: 36px;
    font-family: Bradley Hand, cursive;
    color: #003333

}
p {
    text-align: center;
    font-size: 20px;
    padding-left: 12rem;
    padding-right: 12rem;
    font-family: Bradley Hand, cursive;
 
}
footer {
    font-weight: bold;
    padding: 1em;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffcccc;
  

}